<!DOCTYPE html>
<html lang="en">

<body>
    
    <link rel="stylesheet" href="/style.css">
    
    <nav class = "nav">
        <h3>Private Notes</h3>
        <ul class = "nav-links">
            <form action=""  method="POST"> 
                <button type="submit" formaction="/home" class = "home-btn">Home</button>
            </form>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class = "app">

        <form action=""  method="POST">                  
            <div class = "menu" style="margin-top: 2em;">
                <input 
                    type="text" 
                    class="search-input" 
                    id="search" 
                    name="search"
                    placeholder="Enter title to edit note"/>
                <button type="submit" formaction="/auth/editnote" style = "note-btn" class = "search">Search</button>
            </div>
      
            <div class = "inner-container"> 

                <div class = "header-login">Edit Note</div>
            
                    <div class ="box">

                        {{#each userData }}

                            <div class = "note-group" style="margin: 0">
                                <label for="title">Username</label>
                                <input 
                                    type="text" 
                                    class="login-input" 
                                    id="username" 
                                    name="username"
                                    value="{{this.username}}"/>
                            </div>

                            <div class = "note-group" style="margin: 0">
                                <label for="title">Title</label>
                                <input 
                                    type="text" 
                                    class="login-input" 
                                    id="title" 
                                    name="title"
                                    value="{{this.title}}"/>
                            </div>

                            <div class = "note-group" style="margin: 0">
                                <label for="category">Category</label>
                                <input 
                                    type="text" 
                                    class="login-input" 
                                    id="category" 
                                    name="category"
                                    value="{{this.category}}"/>                        
                            </div>

                            <div class = "note-group" style="margin: 0">
                                <label for="date">Date</label>
                                <input 
                                    type="text" 
                                    class="login-input" 
                                    id="date" 
                                    name="date"
                                    value="{{this.date}}"/>                   
                            </div>

                            <div class = "content-group" style="margin: 0">
                                <label for="content">Content</label>
                                <input 
                                    type="text" 
                                    class="content" 
                                    style = "height: 6em"
                                    id="content" 
                                    name="content"
                                    value="{{this.content}}"/>                                       
                            </div>
                        {{/each}}
                            
                    </div>
                    <button type="submit" formaction="/search" class="login-btn">Save</button>
                </div>  
   
            </div>

        </form>      
    
    </div>
</body>
</html>